/* fonts */

@font-face {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(newsreader.woff2) format("woff2");
}

/* variables */

:root {
  --theme-bg-color: #fcfcfa;
  --theme-fg-color: #383838;
  --theme-primary-color: #3273dc;
  --theme-border-color: #eee;
  --theme-focus-ring-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg-color: #000;
    --theme-fg-color: #7d7d7d;
    --theme-primary-color: #133771;
    --theme-border-color: #1b1b1b;
    --theme-focus-ring-color: #2e2e2e;
  }
}

/* css reset from https://github.com/vladocar/CSS-Mini-Reset */

html,body,div,form,fieldset,legend,label{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}th,td{text-align:left;vertical-align:top;}h1,h2,h3,h4,h5,h6,th,td,caption{font-weight:normal;}img{border:0;}

/* structure */

html {
  font-size: 100%;
}

body {
  background-color: var(--theme-bg-color);
  color: var(--theme-fg-color);
  font-family: "Newsreader", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

a {
  color: var(--theme-fg-color);
  text-decoration: underline;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  margin: auto;
  max-width: 2560px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

.brand {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo {
  fill: currentColor;
  flex: none;
  height: 1.25em;
  width: 1.25em;
}

.header h1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  text-transform: lowercase;
  white-space: nowrap;
}

.body {
  margin: 0 20px;
}

.footer {
  margin: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* stats */

.stats {
  margin: 40px 0 30px 0;
}

.stats-summary {
  font-size: 1.25em;
  letter-spacing: 0.05em;
  margin: 0;
}

/* search */

.search {
  flex: 1;
  min-width: 0;
}

.search input {
  background-color: var(--theme-bg-color);
  border: 1px solid var(--theme-border-color);
  box-sizing: border-box;
  color: var(--theme-fg-color);
  font-family: inherit;
  font-size: 1em;
  padding: 10px;
  width: 100%;
}

.search input:focus {
  border: 1px solid var(--theme-focus-ring-color);
  outline: none;
}

/* months */

.month + .month {
  margin-top: 30px;
}

.month-header {
  align-items: start;
  border-bottom: 1px solid var(--theme-border-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
}

.month-header h2 {
  font-size: 1.25em;
  letter-spacing: 0.05em;
  margin: 0;
  white-space: nowrap;
}

.month-stats {
  font-size: 0.875em;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .month-header {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 20px;
    justify-content: space-between;
  }

  .month-stats {
    text-align: right;
  }
}

/* entries */

.entries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 13em), 1fr));
  list-style: none;
  margin: 0;
  padding: 1px 0 0 1px;
}

.entries .entry {
  border: 1px solid var(--theme-border-color);
  display: flex;
  height: 8.125em;
  margin: -1px 0 0 -1px;
  padding: 8px;
}

.entries .entry dl,
.entries .entry dt,
.entries .entry dd {
  margin: 0;
}

.entries .entry dl {
  align-items: start;
  column-gap: 5px;
  display: grid;
  grid-template:
    "date    date"      auto
    ".       ."         1fr
    "title   title"     auto
    "author  publisher" auto
    ".       ."         1fr
    "footer  footer"    auto
    / minmax(0, auto) minmax(0, 1fr);
  justify-items: start;
  min-width: 0;
  width: 100%;
}

.entries .entry .date {
  font-size: 0.75em;
  grid-area: date;
}

.entries .entry .title {
  box-orient: vertical;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: inherit;
  grid-area: title;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  margin: 0 0 5px 0;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.entries .entry .author,
.entries .entry .publisher {
  font-size: 0.75em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entries .entry .author,
.entries .entry .publisher {
  grid-area: author;
}

.entries .entry .author ~ .publisher {
  grid-area: publisher;
}

.entries .entry .author ~ .publisher::before {
  content: "·";
  content: "·" / "";
  margin-right: 5px;
}

.entries .entry .format {
  border: 1px solid var(--theme-border-color);
  font-size: 0.75em;
  grid-area: footer;
  justify-self: start;
  max-width: 5.75em;
  overflow: hidden;
  padding: 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entries .entry .length {
  border: 1px solid var(--theme-bg-color);
  font-size: 0.75em;
  grid-area: footer;
  justify-self: end;
  max-width: calc(100% - 6.25em);
  padding: 2px 4px;
  text-align: right;
}

/* history */

.history {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.history label {
  margin-right: 5px;
}

.history select {
  background-color: var(--theme-bg-color);
  border: 1px solid var(--theme-border-color);
  color: var(--theme-fg-color);
  font-family: inherit;
  font-size: 1em;
  padding: 2px 4px;
}

.history button {
  font-family: inherit;
  font-size: 1em;
  margin-left: 5px;
  width: 3em;
}

/* offline */

.is-offline {
  .search {
    display: none;
  }

  .history {
    display: none;
  }
}
